wp-config.php
wp-content/plugins/
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/backups/

node_modules/
dist/
*.log

package-lock.json
pnpm-lock.yaml
yarn.lock

.DS_Store
Thumbs.db
.vscode/
*.swp
.idea/

*.css.map
*.scssc

*.sql
